{% load django_browser_reload %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    
    <div> 
        {% if request.user.is_authenticated %}
            {% if is_premium_member %}
                <p>Welcome premium member!</p>
            {% else %}
                <a href="{% url 'become_premium' %}">Become a premium member</a>
            {% endif %}
        {% endif %}
    </div>
    
    
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'signout' %}">Sign out</a>
        {% else %}
        <a href="{% url 'signin' %}">Sign in </a>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'search' %}">Search</a>
    </div>

    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'sell' %}">Sell</a>
        {% endif %}
    </div>

    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'about' %}">About</a>
        {% endif %}
    </div>
    
    
    <div>
        <h2>Top Recommendations</h2>
            {% if premium_items %}
                {% for item in premium_items %}
                    {% if not item.isforswap %}
                        <div style="background-color: cyan;">
                            <h3><a href="{% url 'itemroom' item.id %}">{{ item.name }}</a></h3>
                            <p>Price: {{ item.price }}</p>
                        </div>
                    {% else %}
                        <div style="background-color: cyan;">
                            <h3><a href="{% url 'itemroom' item.id %}">{{ item.name }}</a></h3>
                            <p>Swap</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No premium member products available.</p>
            {% endif %}
    </div>    

    <div>
        <h2>Second-hand Selling Items</h2>
        {% for item in second_hand_items %}
            {% if not item.isforswap %}
                <div style="background-color: cyan;">
                    <h3><a href="{% url 'itemroom' item.id %}">{{ item.name }}</a></h3>
                    <p>Price: {{ item.price }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div>
        <h2>Swapping Items</h2>
        {% for item in second_hand_items %}
            {% if item.isforswap %}
                <div style="background-color: cyan;">
                    <h3><a href="{% url 'itemroom' item.id %}">{{ item.name }}</a></h3>
                    <p>Swap</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>


</body>
</html>
