{% load django_browser_reload %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>

    {% if request.user.is_authenticated %}
    <a href="{% url 'signout' %}">Sign out</a>
    {% else %}
    <a href="{% url 'signin' %}">Sign in </a>
    {% endif %}
    
    <div>
        {% for item in second_hand_items %}
        <div style="background-color: cyan;">
            <h3><a href="{% url 'itemroom' item.id %}">{{ item.name }}</a></h3>
            {% if item.isforswap %}
                <p>Swap</p>
            {% else %}
                <p>Price: {{ item.price }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    

</body>
</html>
