{% load django_browser_reload %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Sell</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href="{% static 'signin.css' %}">
        <script src="{% static 'signin.js' %}"></script>
    </head>
    <body>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label>
                <input type="radio" name="sell_type" value="second_hand" checked> Sell Second-hand Item
            </label>
            <label>
                <input type="radio" name="sell_type" value="swap"> Swap Item
            </label>
        
            <!-- Common fields for both selling and swapping -->
            <label for="inputName">Name:</label>
            <input type="text" id="inputName" name="name"><br>
            <label for="inputDescription">Description:</label>
            <textarea id="inputDescription" name="description"></textarea><br>
            <label for="inputLocation">Location:</label>
            <input type="text" id="inputLocation" name="location"><br>
            <label for="inputPickupMethod">Pickup Method:</label>
            <input type="text" id="inputPickupMethod" name="pickup_method"><br>
            <label for="inputCategory">Category:</label>
            <input type="text" id="inputCategory" name="category"><br>
            <label for="inputCondition">Condition:</label>
            <input type="text" id="inputCondition" name="condition"><br>

            <!-- Input field for images -->
            <label for="inputImages">Images:</label>
            <input type="file" id="inputImages" name="image" accept="image/*">


            <!-- Fields specific to selling second-hand items -->
            <div id="second_hand_fields">
                <label for="inputPrice">Price:</label>
                <input type="text" id="inputPrice" name="price"><br>
                <label for="inputPaymentMethod">Payment Method:</label>
                <input type="text" id="inputPaymentMethod" name="payment_method"><br>

            </div>
        
            <!-- Fields specific to swapping products -->
            <div id="swap_fields">
                <label for="inputSwapFor">Swap For:</label>
                <input type="text" id="inputSwapFor" name="swapfor"><br>
            </div>
        
            <button type="submit">Submit</button>
        </form>

        <hr>
            <h1> Currently selling: </h1>
        <hr>

        <hr>
            <h1> Sold Items: </h1>
        <hr>
        
    </body>
</html>