{% load django_browser_reload %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sell</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{% static 'sell.css' %}">
    <script src="{% static 'signin.js' %}"></script>
</head>
<body>
    <header>
        <nav>
    
            <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
            </div>

            <div class="logo">
                  KAMAYAN
            </div>

            <div class="search">
              <input type="text" placeholder="Search..">
            </div>

            <div class="menu">
                  <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                  </ul>
            </div>
      </nav>
    </header>

    <form method="post" enctype="multipart/form-data">

        <main class="container">
        {% csrf_token %}
       <div class="title-page">
            <h1>What are you excited to sell today ?</h1>
       </div>
       <div class="small-page">
            <h5>Please fill out all the fields</h5>
       </div>

        <div class="input_name inputs">
                <input type="text" name="name" required placeholder="Product Name...">
        </div>
        <div class="input_selltype inputs2">
            <select name="sell_type" onchange="pili(this.value)">
                <option value="sell">Sell</option>
                <option value="swap">Swap</option>
            </select>
        </div>
        
        <div class="input_location inputs">
                <input type="text" name="location" required placeholder="Location...">
        </div>

        <div class="input_pickuptype inputs2">
                <select name="payment_method">
                        <option value="gcash">Gcash</option>
                        <option value="cash">Cash</option>
                        <option value="cod">Cash On Delivery</option>
                        <option value="bank">Bank Transfer</option>
                </select>
            </div>
            <div class="input_contacts inputs">
                <input type="text" name="contacts" required placeholder="Contacts...">
            </div>
            <div class="input_category inputs2">
                <select name="category">
                        <option value="electronics">Electronics</option>
                        <option value="shoes">Shoes</option>
                        <option value="fashion">Fashion</option>
                        <option value="toys">Toys</option>
                        <option value="appliances">Appliances</option>
                        <option value="accessories">Accessories</option>
                </select>
            </div>
            <div class="input_price inputs">
                <input id="price_txt" class="tohide" type="number" min="0.1" step="any" name="price" required placeholder="Price...">
                <input id="swap_txt" class="tohide" type="text" name="swapfor" required placeholder="Swap for...">
            </div>
            <div class="inputcondition inputs2">
                <select name="condition">
                        <option value="electronics">Secondhand</option>
                        <option value="electronics">Used</option>
                        <option value="shoes">Slightly New</option>
                        <option value="fashion">Like New</option>
                        <option value="toys">Good Condition</option>
                        <option value="appliances">Excellent condition</option>
                        <option value="accessories">Almost New</option>
                        <option value="accessories">Hardly Used</option>
                </select>
            </div>
            <div class="input_description inputs3">
                <textarea type="text" name="description" required placeholder="Description..."></textarea>
            </div>
            <div class="small-page">
                <h5>Import your images</h5>
        </div>

            <a class="btnimg" onclick="openfile(1)">
                <h1>+</h1>
                <p id="fileName1"></p>
            </a>
            <a class="btnimg" onclick="openfile(2)">
                <h1>+</h1>
                <p id="fileName2"></p>
            </a>
            <a class="btnimg" onclick="openfile(3)">
                <h1>+</h1>
                <p id="fileName3"></p>
            </a>
            <a class="btnimg" onclick="openfile(4)">
                <h1>+</h1>
                <p id="fileName4"></p>
            </a>
            <button type="submit" class="uploadbtn">Sell</button>
            <input type="file" id="fileInput1" class="hidden" name="images1" onchange="handleFileSelect(1)">
            <input type="file" id="fileInput2" class="hidden" name="images2" onchange="handleFileSelect(2)">
            <input type="file" id="fileInput3" class="hidden" name="images3" onchange="handleFileSelect(3)">
            <input type="file" id="fileInput4" class="hidden" name="images4" onchange="handleFileSelect(4)">

            <div class="textname">
                <h1> Current Selling: </h1>
            </div>
        {% if currently_selling_items %}

            {% for item in currently_selling_items %}
            <div class="card">
                <a href="{% url 'itemroom' item.id %}">
                    <h1>{{ item.name }}</h1>
                </a>
            </div>
            {% endfor %}

        {% else %}
            <p>No items currently selling.</p>
        {% endif %}

        <div class="textname">
            <h1> Sold Items: </h1>
        </div>

        {% if sold_items %}
            {% for item in sold_items %}
            <div class="card">
                <a href="{% url 'itemroom' item.id %}">
                    <h1>{{ item.name }}</h1>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>No items sold yet.</p>
        {% endif %}

    </main>
</form>


<script>
    function openfile(inputNum) {
        // Trigger click event on the respective file input based on inputNum
        document.getElementById('fileInput' + inputNum).click();
    }
    
    function handleFileSelect(inputNum) {
        var fileInput = document.getElementById('fileInput' + inputNum);
        var fileNamePara = document.getElementById('fileName' + inputNum);
    
        // Check if a file is selected
        if (fileInput.files.length > 0) {
            var file = fileInput.files[0];
            // Display the file name
            fileNamePara.textContent = file.name;
            // You can now upload the file using AJAX or any other method you prefer
            console.log('File selected:', file);
            // Here you can write code to upload the file to your server
        } else {
            // If no file is selected, clear the paragraph content
            fileNamePara.textContent = '';
        }
    }
    </script>

<script type="text/javascript">
    
    // Menu-toggle button

    $(document).ready(function() {
          $(".menu-icon").on("click", function() {
                $("nav ul").toggleClass("showing");
          });
    });

</script>

<script>
    document.getElementById('price_txt').style.display = 'block';
    function pili(n) {
        if(n == "sell"){
            document.getElementById('price_txt').style.display = 'block';
            document.getElementById('swap_txt').style.display = 'none';
            document.getElementById('swap_txt').removeAttribute('required');
        } else if(n == "swap") {
            document.getElementById('swap_txt').style.display = 'block';
            document.getElementById('price_txt').style.display = 'none';
            document.getElementById('price_txt').removeAttribute('required');
        }
    }
</script>

</body>
