<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>Swap for: {{ item.swapfor }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Location: {{ item.location }}</p>
    <p>Pickup Method: {{ item.pickup_method }}</p>
    <p>Category: {{ item.category }}</p>
    <p>Condition: {{ item.condition }}</p>
    <p>Status: {{item.status}}</p>
    <img src="{{ item.images.url }}" alt="{{ item.name }} Image">
</body>
</html>
